@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    
   
  
}
.background{
    position: fixed;
    z-index:-1;
}
a{
    color: white;
}

.header{
    background-color: #523429;
    box-shadow: 1px 1px 4px 0 rgb(0,0,0);
    position: fixed;
    width: 100%;
    
}

.header ul{
    margin:0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #523429;
    

}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    
}

.header ul a:hover{
    background-color: #fffff5;
    color: #523429;
    
}

.header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}


.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
    text-align: center;
}


.header .menu-icon{
    padding: 39px 5px 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menuText{
    font-weight: bold;
    padding-top: 27px;
    padding-right: 11px;
    position: relative;
    float: right;
    cursor: pointer;
    color:#fffff5;
}

.header .menu-icon .nav-icon{
    background:#fffff5;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background:#fffff5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;    
}
.header .menu-icon .nav-icon:after{
    background:#fffff5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 254px;
    
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
        
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}


/*----GRID----*/


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: minmax(80px, auto);   
    padding: 180px 30px 80px 80px;
  }
  
  .grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
    font-size: 2em;
    font-weight: bold;
    background-image: url(./img/grid1.jpg);
    height: 418px;
  }


  .grid-container >div:hover{
      opacity: 0.9;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
  }
