@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body{
    margin: 0;
    font-family: 'Caviar Dreams';
    font-weight: 500;
    font-size: 1.1em;
    background-repeat: no-repeat;
    color: #fffff5;
    background-image: url(../images/coffeeshop.jpg);
    background-color:#fffff5; 
    background-position: fixed;


}

a{
    color:#fffff5;
}

.header{
    background-color:#523429; 
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    opacity: 0.985;
}

.header ul{
    margin:0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #523429;
    

}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    
}

.header ul a:hover{
    background-color:#fffff5;
    color: #523429;
    
}

.header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}


.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
    text-align: center;
}


.header .menu-icon{
    padding: 39px 5px 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menuText{
    font-weight: bold;
    padding-top: 27px;
    padding-right: 11px;
    position: relative;
    float: right;
    cursor: pointer;
    color: #fffff5;
}

.header .menu-icon .nav-icon{
    background:#fffff5;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: #fffff5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;    
}
.header .menu-icon .nav-icon:after{
    background: #fffff5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 254px;

}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top:0;
        
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;

}
/*
.one {

position: relative;
background-color:  #fffff5;



}

.two {


    
}

*/



/*animation effect: 

slide in:

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}









*/


